
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Plain Light';
    color: #fff;
}

html,body{
    height: 100%;
    width: 100%;
}

/* round curser ke liye */
#crsr{
  height:1.8vw ;
  width: 1.8vw;
  border-radius: 50%;
  /* background-color: white; */
  border:1px solid #ffffffbe;
  position: fixed;
  z-index: 9999;
  /* round curser khaa bhi jaye pura appear hoga means self ka color change karega */
  mix-blend-mode: difference;
  /* arrow curser round curser ke center ko follow karega */
  transform: translate(-50%, -50%);
}

#loader{
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 999;
    background-color:#030303 ;
    padding:12vh 8vw;
}

.line{
    /* background-color: red; */
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap:2vw;
}

#line1-part1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:1vw;
}

#line1-part1 h5,#line1-part1 h6{
   font-size: 2vw;
   font-family: 'silk serif';
   font-weight: 100;
}

/* isase 100 hilega nhi */
#line1-part1 h5{
    /* background-color: red; */
    width: 5vw;
    text-align: right;
}

.line h1{
    font-size: 4.5vw;
    text-transform: uppercase;
    font-weight: 800;
}

.line h2{
    font-size: 3.5vw;
    text-transform: uppercase;
    font-weight: 800;
   opacity: 0;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes anime {
    0%{
        font-family: "plain light";
        /* text ke uper border create karne ka km karti hai */
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        font-weight: 400;
        opacity: 1;
    }
    48%{
        font-family: "plain light";
        /* text ke uper border create karne ka km karti hai */
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        font-weight: 400;
        opacity: 0;
    }
    50%{
       font-family: "silk serif";
       -webkit-text-stroke: 1px #fff;
       color: transparent;
       font-weight: 400;
       opacity: 1;
    }
    100%{
        font-family: "silk serif";
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        font-weight: 400;
        opacity: 0;
     }
}

#main{
    position: relative;
    background-color: #030303;
}

#page1{
    height: 100vh;
    width: 100%;
    background-color: #151515;
}

#page1 #nav{
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 1.3vw 4.5vw;
}

#nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
}

#nav-part2 h4{
    font-size: 0.8vw;
    font-weight: 500;
}

.hero{
    /* background-color: red; */
    width: 72%;
    margin-left: 27%;
    height: fit-content;
    /* background-color: red; */
    overflow: hidden;display: flex;
    align-items: center;
    position: relative;
    z-index: 9999;
}

/* jab isko 2 ke place pr 1 dete hai to ye work nhi karta hai because ye nav ko nth-child(1) samj leta hai */
.hero:nth-child(2){
    margin-top: 15vh;
} 

.hero h1{
    font-size: 4.2vw;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 5.2vw;
}


.hero h2, .hero h3{
    font-size: 4.2vw;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 5.2vw;
}

.hero h2:hover{
    -webkit-text-stroke: 2px #fff;
    color: transparent;
    font-weight: 400;
}

